:root {
  --Purple_100: hsl(254, 88%, 90%);
  --Purple_500: hsl(256, 67%, 59%);

  --Yellow_100: hsl(31, 66%, 93%);
  --Yellow_500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);

  font-size: 18px;
}